body,
.top,
.second,
.third,
.image-subtext,
.fourth-text{
    display : flex;
    flex-direction: column;
    font-family: 'Noto Sans SC';

}

.header,
.first,
.images-second,
.fourth,
.links{
    display: flex;
}

.second {
    background-color: #E4E0F5;
    color: #533CB9;
}

.second-header{
    color: #533CB9;
    text-align: center;
    font-size:36px;
    font-weight: 900;
}

.image-subtext p{
    font-weight: 100;
    width:180px;
    text-align: center; 
    margin: 2px;  
}

.image-subtext .description{
    font-size: 13px;
}

.images-second
{
    margin-left: auto;
    margin-right: auto;
    gap:40px;
    margin-bottom: 20px;
}
.image-subtext img{
    height:356px;
    border-radius: 10px;
    border:solid #CBC5EA 2px;
    width:200px;
}

.links{
    gap:15px;
    align-items: center;
}
body{
    margin:0px;
}
.top,
.footer{
background-color: #1F2937;
}


.placeholder{
    text-align: center;
    color:#F9FAF8;
    width:500px;
    height:200px;
}

.links a{
    text-decoration: none;
    font-size: 15px;
    color:#E5E7EB;
}

.first-container{
    width:470px;
}
.header{
    gap: 1000px;
    height: 50px;
    padding-left: 32px;
    background-color: rgb(31, 41, 55,0.8);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
.first{
    gap:100px;
    height: 600px;
    align-items: center;
    margin: 100px;
}

.top{
    height: max-content;
    align-items: center;
    background-image: url("bg1.jpg");
}

.first-container h1
{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    position: relative;
    background: url(images/logo.png) center;
    width: 170px;
    left: 15px;
}

.first-button{
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding:0;
    width:100px;
    height:30px;
}

.third{
    background-color: #E5E7EB;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 500px;
}
.quote{
    font-size: 30px;
    font-weight:400;
    color:#1F2937
}

.quoter{
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.fourth-header{
    font-weight: 900;
    font-size: 18px;
    margin:40px 0 0 0;
}

.fourth-subtext{
    margin:0 0 40px 0;
}

.fourth{
    margin:40px 150px 40px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    width:800px;
    background-color: #365E81;
    color:#F9FAF8;
    border-radius:5px;
    align-items: center;
}

.fourth-button{
    align-self: center;
    padding:5px 25px 5px 25px;
    font-weight: bold;
    color:#F9FAF8;
    background-color: #42739E;
    border-radius: 10px;
    border-color: #F9FAF8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.footer p{

    color: #F9FAF8;
    font-size:10px;
}

@media (max-width: 600px) {
    /* styles for screens up to 600px wide */
    .container {
      width: 90%;
      margin: 0 auto;
    }
    .column {
      width: 100%;
      float: none;
    }
    .first-container {
      width: 100%;
    }
    .header {
      gap: 50px;
    }
    .first {
      gap: 50px;
      margin: 50px;
    }
    .image-subtext img {
      height: 176px;
      width: 100px;
    }
    .fourth {
      margin: 40px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1200px) {
    /* styles for screens between 601px and 1200px wide */
    .container {
      width: 80%;
      margin: 0 auto;
    }
    .column {
      width: 50%;
      float: left;
    }
    .first-container {
      width: 80%;
    }
    .header {
      gap: 100px;
    }
    .first {
      gap: 100px;
      margin: 100px;
    }
    .image-subtext img {
      height: 356px;
      width: 200px;
    }
    .fourth {
      margin: 80px;
    }
  }
  
  @media (min-width: 1201px) {
    /* styles for screens wider than 1200px */
    .container {
      width: 1000px;
      margin: 0 auto;
    }
    .column {
      width: 33.33%;
      float: left;
    }
    .first-container {
      width: 470px;
    }
    .header {
      gap: 1000px;
    }
    .first {
      gap: 100px;
      margin: 100px;
    }
    .image-subtext img {
      height: 356px;
      width: 200px;
    }
    .fourth {
      margin: 80px 150px 80px 150px;
    }
  }
  
